*, *::before, *::after {
    box-sizing: border-box;
    font-family: Helvetica;
}

body {

    justify-content: center;
    align-items: center;
    background-color: gray;
}

.container {
    width: 800px;
    max-width: 80%;
    background-color: white;
    border-radius: 5px; 
    padding: 10px;
    box-shadow: 0 0 10px 2px;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

/* .btn {
    border: 1px grey;
    background-color: black;
} */

.btn:hover {
    border-color: black;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center; 
}

.hide {
    display: none;
}

.hidden {
    visibility: hidden;
}